<h1>Edit <%= @user.username %></h1>
<p>Change the settings for <%= @user.username %></p>
<p>Go back to the profile without making changes <%= link_to "here", user_path %></p>
<p>Go back to the list of users <%= link_to "here", users_path %></p>
<%= form_for(@user) do |form| %>
  
  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= form.label :password %>
  <%= form.text_field :password %>

  <%= form.submit "Edit my main Settings", class: "submitbutton" %>
  
<% end %>