<h1>New User</h1>
<p>Join the revolution, create your account today</p>

<%= form_for(@user) do |form| %>
  
  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= form.label :password %>
  <%= form.text_field :password %>

  <%= form.submit "Create my new Account!", class: "submitbutton" %>
  
<% end %>