<h1>Profile for <span class="username"><%= @user.username %></span></h1>
<p>Here is information on <span class="username"><%= @user.username %></span></p>
<p>Email is <span class="username"><%= @user.email %></span></p>
<p><%= link_to "Back to the user list", users_path %></p>
<p><%= link_to "Make edits", edit_user_path(@user) %></p>